# Виртуальное окружение
venv/
.env

# Python файлы
__pycache__/
*.pyc
*.pyo
*.pyd

# БД
*.sqlite3

# VSCode и др.
.vscode/
.idea/

# Миграции
**/migrations/*.py
!**/migrations/__init__.py

# Логи и кэш
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.swp
.DS_Store
